[submodule "submodules/brass"]
	path = submodules/brass
	url = https://github.com/thinkclay/KO3-Brass.git
[submodule "submodules/event"]
	path = submodules/event
	url = https://github.com/thinkclay/KO3-Event.git
[submodule "submodules/accredit"]
	path = submodules/accredit
	url = https://github.com/thinkclay/KO3-Accredit.git
