.editable {
  border: 1px dotted #ebb100;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
/*   white-space: normal !important; */
  -webkit-nbsp-mode: normal !important;
  
/*   -webkit-user-modify: read-write !important; */
/*   word-wrap: break-word !important; */
/*   -webkit-line-break: after-white-space !important; */
}
.ui-tabs .ui-tabs-nav li {
    white-space: normal !important;
    -webkit-nbsp-mode: normal !important;
}
.editable.editing {
  border-color: #a88000;
}
.editable.success {
  border-color: #5a5;
}